@page "/PastOrders"
@rendermode InteractiveServer
@using BestellApp
@using Microsoft.EntityFrameworkCore

<h3>PastOrders</h3>

<ul>
    @foreach ()
    <li>

    </li>
</ul>

@code {
    IEnumerable<>
}